@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "partials/variables";

* {
    box-sizing: border-box;
}

section {
    padding: 60px 0;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-family: 'PT Sans';
    font-weight: 400;
}

p {
    font-family: 'PT Sans';
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
}
#home {
    background: $dark-blue-background;
    
    h1 {
        color: $orange-ish;
        font-family: 'Arimo';
        font-weight: 400;
        
        span {
            font-family: 'PT Sans';
            text-transform: uppercase;
        }
    }
    
    p {
        color: $white;
        font-weight: 400;
        font-size: 0.9em;
        letter-spacing: 1px;
    }
}

nav.gold {
    border-bottom: 1px solid $gold-color;
}

#history {
    background-color: $teal;
    
    .container {
//        background-image: url('../img/page2/heatWave-page2.png');
//        background-size: 1000px;
//        background-position: center;
//        background-repeat: no-repeat;
    }
    
    p {
        font-size: 0.7em;
        color: $white;
        padding-right: 40px;
        margin-left: -20px;
    }
}

#iconography {
    background-color: $background-tan;
}

#vision {
    background-color: $background-dark-red;
    
    p {
        font-size: 0.8em;
    }
}

#logo {
    background-color: $background-orange;
    color: $white;
}

#color {
    background-color: $background-pink;
}

#typography {
    background-color: $background-red;
}

footer {
    min-height: 50vh;
    background-color: $dark-blue-background;
}

.nav-justified {
    width: 100%;
    text-align: center;
    font-family: 'PT Sans';
    font-weight: 400;
    
    &>li {
        display: table-cell;
        width: 1%;
        
        a {
            color: $white;
        }
    }
}