@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "partials/variables";

* {
    box-sizing: border-box;
}



section {
    padding: 60px 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
    float: left;
    overflow: hidden;
    
    .background-image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1150px;
        margin-left: -575px;
        
        transform: translateY(-50%);
        
        img {
            width: 100%;
        }
    }
}

.row {
    margin: 30px 0;
}

h1 {
    font-family: 'PT Sans';
    font-weight: 400;
}

p {
    font-family: 'PT Sans';
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
}

#home {
    background: $dark-blue-background;
    
    h1 {
        color: $orange-ish;
        font-family: 'Arimo';
        font-weight: 400;
        position: relative;
        top: 0;
        left: 0;
        margin-top: -150px;
        
        span {
            font-family: 'PT Sans';
            text-transform: uppercase;
        }
    }
    
    img.pepper {
        position: relative;
        left: -100px;
        top: 0px;
        height: auto;
        width: 150px !important;
    }
    
    p {
        color: $white;
        font-weight: 400;
        font-size: 0.9em;
        letter-spacing: 1px;
        padding-left: 70px;
    }
}

nav.gold {
    border-bottom: 1px solid $gold-color;
}

#history {
    background-color: $teal;
    padding: 100px 0;
    
    p.fit {
        font-size: 0.8em;
        color: $white;
        padding: 50px 130px 0 20px;
        margin-left: -20px;
        text-align: justify;
    }
}

#iconography {
    background-color: $background-tan;
}

#vision {
    background-color: $background-dark-red;
    color: $white;
    
    p {
        font-size: 0.8em;
        text-align: justify;
    }
    
    .wide-fit {
        transform: translateY(-10%);
        padding: 0px 20px 0 40px; 
    }
    
    .fit {
        padding: 70px 50px 0 20px;     
    }
}

#logo {
    background-color: $background-orange;
    color: $white;
    
    .pc-img-container {
        width: 100%;
        padding-left: 15px;
        
        img {
            width: 19%;
            padding-right: 10px;
        }
    }
}

#color {
    background-color: $background-pink;
}

#typography {
    background-color: $background-red;
    
    .fit-left, 
    .fit-right {
        font-size: 0.8em;
    }
    
    .fit-left.second {
        padding-top: 5px;
    }
    
    .fit-right {
        padding-top: 40px;
    }
    
    .background-image {
        width: 1500px;
        top: 0;
        transform: translateX(0) translateY(-4%);
        margin-left: -600px;
    }
    
    .type-style {
        margin-top: 300px;
    }
    
    .card-in-sleeve {
        margin-top: 180px;
    }
    
}

footer {
    position: relative;
    float: left;
    min-height: 50vh;
    background-color: $dark-blue-background;
    color: $white;
}

.nav-justified {
    width: 100%;
    text-align: center;
    font-family: 'PT Sans';
    font-weight: 400;
    
    &>li {
        display: table-cell;
        width: 1%;
        
        a {
            color: $white;
        }
    }
}