@font-face {
    
    font-family: 'Futura Light';
    src: url('../fonts/futura-light.ttf') format('truetype');
}

@font-face {
    
    font-family: 'Futura Normal';
    src: url('../fonts/Futura-Normal.ttf') format('truetype');
}