$gold-color: #EBB269;
$white: #fff;
$dark-blue-background: #0B3B5B;
$orange-ish: #ec977b;
$teal: #81C2B9;
$black: #000;
$background-dark-red: #971C1F;
$background-orange: #d3752b;
$background-tan: #e8af6b;
$background-pink: #ed967a;
$background-red: #d83026;